.speech {
    font: Helvetica,sans-serif;
    font-size: 16px;
    color:black;
    margin: 10px;
}
.stage-direction{
    font-family: Garamond, serif;
    font-size: 17px;
    background-color: lightblue;

}
.stage-direction:hover {
    background-color: black;
    color:red;
}
th, td {
    border: 2px solid;
    color: #003399;
    text-align: center;
    padding: 0.8rem;
    margin: 25px 50px 75px 100px ;
}
table{
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: #8F9AA5;
}
.lordillingworth:hover{
    text-shadow: 2px 2px 5px yellow;
    box-shadow: 10px 10px 5px grey;
    border-bottom: 4px solid red;
    background-color: white;
    text-align: center;
}
.mrsarbuthnot:hover{
    text-shadow: 2px 2px 5px red;
    box-shadow: 10px 10px 5px grey;
    border-bottom: 4px solid blue;
    background-color: white;
    text-align: center;
}
.ladyhunstantion{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color:lightsalmon;
}
.thearchdeacon{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: lightseagreen;
}
.gerald{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: lightblue;
}
.mrsallonby{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: yellow;
}
.lordillingworth{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: red;
}
.ladycaroline{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: lime;
}
.mrsarbuthnot{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    margin: 4px;
    color: blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: lightskyblue;
  }
  
  .active {
    background-color:crimson;
  }