.speech {
    font: Helvetica,sans-serif;
    font-size: 16px;
    color:black;
}
.stage-direction{
    font-family: Garamond, serif;
    font-size: 17px;
    background-color: lightyellow;

}
.stage-direction:hover {
    background-color: black;
    color:red;
}
th, td {
    border: 2px solid;
    color: #003399;
    text-align: center;
    padding: 0.8rem;
    margin: 25px 50px 75px 100px ;
}
table{
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background-color: #8F9AA5;
}
.ladyhunstantion{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color:lightsalmon;
}
.thearchdeacon{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: lightseagreen;
}
.gerald{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: lightblue;
}
.mrsallonby{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: yellow;
}
.lordillingworth{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: red;
}
.ladycaroline{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: lime;
}
.mrsarbuthnot{
    font-family: 'Brush Script', cursive;
    font-size: 18px;
    color: cornflowerblue;
}
